################################################
# MMU__SERVO_UP
################################################

[gcode_macro MMU__SERVO_UP]
gcode:
    MMU_SERVO POS=UP

################################################
# MMU__SERVO_DOWN
################################################

[gcode_macro MMU__SERVO_DOWN]
gcode:
    MMU_SERVO POS=DOWN

################################################
# MMU__SERVO_MOVE
################################################

[gcode_macro MMU__SERVO_MOVE]
gcode:
    MMU_SERVO POS=MOVE

################################################
# MMU__SERVO_ANGLE
################################################

[gcode_macro MMU__SERVO_ANGLE]
gcode:
    {% set ANGLE = params.ANGLE|default("0")|string %}
    MMU_SERVO ANGLE={ANGLE}

################################################
# MMU__SERVO_SAVE_UP
################################################

[gcode_macro MMU__SERVO_SAVE_UP]
gcode:
    MMU_SERVO POS=UP SAVE=1

################################################
#MMU__SERVO_SAVE_MOVE
################################################

[gcode_macro MMU__SERVO_SAVE_MOVE]
gcode:
    MMU_SERVO POS=MOVE SAVE=1

################################################
# MMU__SERVO_SAVE_DOWN
################################################

[gcode_macro MMU__SERVO_SAVE_DOWN]
gcode:
    MMU_SERVO POS=DOWN SAVE=1

################################################
# MMU__CALIBRATE_SELECTOR
################################################

[gcode_macro MMU__CALIBRATE_SELECTOR]
gcode:
    MMU_CALIBRATE_SELECTOR

################################################
# MMU__CALIBRATE_SELECTOR_GATE
################################################

[gcode_macro MMU__CALIBRATE_SELECTOR_GATE]
gcode:
    {% set GATE = params.GATE_NUMBER|default()|float %}
    MMU_CALIBRATE_SELECTOR SINGLE=1 GATE={GATE}

################################################
# MMU__CALIBRATE_BYPASS
################################################

[gcode_macro MMU__CALIBRATE_BYPASS]
gcode:
    MMU_CALIBRATE_SELECTOR BYPASS=1    

################################################
# MMU__TEST_MOVE
################################################

[gcode_macro MMU__TEST_MOVE]
gcode: 
    {% set TEST_LENGTH = params.TEST_LENGTH|default(100)|float %}
    MMU_SERVO POS=DOWN
    MMU_TEST_MOVE MOVE={TEST_LENGTH}

################################################
# MMU__CALIBRATE_GEAR_STEPPER
################################################

[gcode_macro MMU__CALIBRATE_GEAR_STEPPER]
gcode:
    {% set MEASURED = params.ACTUAL_MEASUREMENT|default()|float %}
    MMU_CALIBRATE_GEAR MEASURED={MEASURED}

################################################
# MMU__CALIBRATE_BOWDEN
################################################

[gcode_macro MMU__CALIBRATE_BOWDEN]
gcode:
    {% set LENGTH = params.BOWDEN_LENGTH|default()|float %}
    MMU_CALIBRATE_BOWDEN BOWDEN_LENGTH={LENGTH}

################################################
# MMU__CALIBRATE_ENCODER
################################################

[gcode_macro MMU__CALIBRATE_ENCODER]
gcode:
    MMU_CALIBRATE_ENCODER

################################################
# MMU__CALIBRATE_TOOLHEAD
################################################

[gcode_macro MMU__CALIBRATE_TOOLHEAD]
gcode:
    MMU_CALIBRATE_TOOLHEAD
