################################################
# MMU_ENABLE
################################################
[gcode_macro MMU_ENABLE]
description: Turn MMU on or off
gcode:
    {% set STATE = params.STATE|default(1)|int %}
    MMU ENABLE={STATE}



################################################
# MMU_CALIBRATE_SELECTOR
################################################
[gcode_macro MMU__CALIBRATE_SELECTOR]
description:
gcode:
    MMU_CALIBRATE_SELECTOR



################################################
# MMU_CALIBRATE_SELECTOR_GATE
################################################
[gcode_macro MMU__CALIBRATE_SELECTOR_GATE]
description:
gcode:
    {% set GATE = params.GATE_NUMBER|default()|int %}
    MMU_CALIBRATE_SELECTOR SINGLE=1 GATE={GATE}



################################################
# MMU_CALIBRATE_BYPASS
################################################
[gcode_macro MMU__CALIBRATE_BYPASS]
description:
gcode:
    MMU_CALIBRATE_SELECTOR BYPASS=1    



################################################
# MMU_TEST_MOVE
################################################
[gcode_macro MMU__TEST_MOVE]
description: Run a length of filamet through a gate
gcode: 
    {% set GATE_NUMBER = params.GATE_NUMBER|default(0)|int %}
    {% set TEST_LENGTH = params.TEST_LENGTH|default(100)|float %}
    {% if printer.mmu.enabled and not printer.mmu.is_homed %}
        HOMEING_PROMPT_MMU
    {% endif %} 
    MMU_SERVO POS=MOVE
    M400
    MMU_SELECT GATE={GATE_NUMBER}
    M400
    MMU_SERVO POS=DOWN
    M400
    MMU_TEST_MOVE MOVE={TEST_LENGTH}

[gcode_macro HOMEING_PROMPT_MMU]
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin MMU HOMING ERROR"
  RESPOND TYPE=command MSG="action:prompt_text Attention: MMU is not homed. Would you like to home the MMU?"
  RESPOND TYPE=command MSG="action:prompt_footer_button Home_MMU|HOME_MMU_TEST_MOVE"
  RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|RESPOND TYPE=command MSG="action:prompt_end""
  RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro HOME_MMU_TEST_MOVE]
gcode:
  RESPOND TYPE=command MSG="action:prompt_end"
  MMU_SERVO POS=MOVE
  MMU_HOME
  MMU__TEST_MOVE {rawparams}



################################################
# MMU_CALIBRATE_GEAR
################################################
[gcode_macro MMU__CALIBRATE_GEAR_ROTATION]
description: Calibrates the rotaition of the filament feed stepper
gcode:
    {% set LENGTH = params.LENGTH|default(100)|float %}
    {% set SAVE = params.SAVE|default(1)|int %}
    MMU_CALIBRATE_GEAR MEASURED={MEASURED}

    
[gcode_macro MMU__CALIBRATE_GEAR_MEASURED]
description: Calibrates the rotaition of the filament feed stepper
gcode:
    {% set MEASURED = params.ACTUAL_MEASUREMENT|default()|float %}
    MMU_CALIBRATE_GEAR MEASURED={MEASURED}


[gcode_macro MMU__CALIBRATE_GEAR_RESET]
description: Calibrates the rotaition of the filament feed stepper
gcode:
    MMU_CALIBRATE_GEAR RESET=1



################################################
# MMU_CALIBRATE_BOWDEN
################################################
[gcode_macro MMU__CALIBRATE_BOWDEN]
description: Calibrates the bowden tube length
gcode:
    {% set LENGTH = params.BOWDEN_LENGTH|default()|float %}
    {% set HOMING_MAX = params.HOMING_MAX|default(100)|float %}
    {% set REPEATS = params.REPEATS|default(3)|int %}
    {% set SAVE = params.SAVE|default(1)|int %}
    MMU_CALIBRATE_BOWDEN BOWDEN_LENGTH={LENGTH} HOMING_MAX={HOMING_MAX} REPEATS={REPEATS} SAVE={SAVE}



################################################
# MMU_CALIBRATE_ENCODER
################################################
[gcode_macro MMU__CALIBRATE_ENCODER]
description: Calibrates encoder rotaion
gcode:
    # {% set LENGTH = params.LENGTH|default("500")|int %}
    # {% set REPEATS = params.REPEATS|default("6")|int %}
    # {% set SPEED = params.SPEED|default("150")|int %}
    # {% set ACCEL = params.ACCEL|default("400")|int %}
    # {% set SAVE = params.SAVE|default("1")|int %}
    MMU_CALIBRATE_ENCODER



################################################
# MMU_CALIBRATE_TOOLHEAD
################################################
[gcode_macro MMU_CALIBRATE_TOOLHEAD_SENSORS]
description: Optional calibration of key toolhead dimension and 
            toolhead cutting variables.
gcode:
    MMU_CALIBRATE_TOOLHEAD CLEAN=1

[gcode_macro MMU_CALIBRATE_TOOLHEAD_CUT_TIP]
description: Optional calibration of key toolhead dimension and 
            toolhead cutting variables.
gcode:
    MMU_CALIBRATE_TOOLHEAD CUT=1

[gcode_macro MMU_CALIBRATE_TOOLHEAD_OOZE_REDUCTION]
description: Optional calibration of key toolhead dimension and 
            toolhead cutting variables.
gcode:
    MMU_CALIBRATE_TOOLHEAD


################################################
# MMU_SERVO_UP
################################################
[gcode_macro MMU__SERVO_UP]
description: Move the servo to position
gcode:
    MMU_SERVO POS=UP



################################################
# MMU_SERVO_DOWN
################################################
[gcode_macro MMU__SERVO_DOWN]
description: Move the servo to position
gcode:
    MMU_SERVO POS=DOWN



################################################
# MMU_SERVO_MOVE
################################################
[gcode_macro MMU__SERVO_MOVE]
description: Move the servo to position
gcode:
    MMU_SERVO POS=MOVE



################################################
# MMU_SERVO_ANGLE
################################################
[gcode_macro MMU__SERVO_ANGLE]
description: Sets the servo angle
gcode:
    {% set ANGLE = params.ANGLE|default("0")|int %}
    MMU_SERVO ANGLE={ANGLE}



################################################
# MMU_SERVO_SAVE_UP
################################################
[gcode_macro MMU__SERVO_SAVE_UP]
description: Saves the servo position up
gcode:
    MMU_SERVO POS=UP SAVE=1



################################################
#MMU_SERVO_SAVE_MOVE
################################################
[gcode_macro MMU__SERVO_SAVE_MOVE]
description: Saves the servo position move
gcode:
    MMU_SERVO POS=MOVE SAVE=1



################################################
# MMU_SERVO_SAVE_DOWN
################################################
[gcode_macro MMU__SERVO_SAVE_DOWN]
description: Saves the servo position down
gcode:
    MMU_SERVO POS=DOWN SAVE=1



################################################
# MMU_SENSORS
################################################
[gcode_macro MMU__SENSORS]
description: Report on the state of all sensors connected to the MMU
            DETAIL=[0|1] Whether to show all disabled sensors or just active ones
gcode:
    {% set DETAIL = params.DETAIL|default(1)|int %}
    MMU_SENSORS DETAIL={DETAIL}



################################################
# MMU_CALC_PURGE_VOLUMES
################################################
[gcode_macro MMU__CALC__PURGE__VOLUMES]
description: Calculate purge volume matrix based on filament
             color and algorithm for estimating flushing volume
gcode: 
    {% set MIN = params.PURGE_MINIMUM|default(0)|int %}
    {% set MAX = params.PURGE_MAXIMUM|default(800)|int %}
    {% set MULTIPLIER = params.MULTIPLIER|default(1.0)|int %}
    MMU_CALC_PURGE_VOLUMES MIN={MIN} MAX={MAX} MULTIPLIER={MULTIPLIER}



################################################
# MMU_LED
################################################
[gcode_macro MMU__LED]
description: Quick way to try or test modes of operation of optional MMU LEDs
            off|gate_status|filament_color|slicer_color 
gcode: 
    {% set ENABLE = params.ENABLE|default(1)|int %}
    {% set ANIMATION = params.ANIMATION|default(1)|int %}
    {% set ENTRY_EFFECT = params.ENTRY_EFFECT|default("gate_status")|string|upper %}
    {% set EXIT_EFFECT = params.EXIT_EFFECT|default("gate_status")|string|upper %}
    {% set FILAMENT_COLOR = params.FILAMENT_COLOR|default("slicer_color")|string|upper %}
    {% set QUIET = params.QUIET|default(0)|int %}

    MMU_LED ENABLE={ENABLE} ANIMATION={ANIMATION} ENTRY_EFFECT="{ENTRY_EFFECT}" EXIT_EFFECT="{EXIT_EFFECT}" FILAMENT_COLOR="{FILAMENT_COLOR}" QUIET={QUIET}




################################################
# MMU_SOAKTEST_SELECTOR
################################################
[gcode_macro MMU__SOAKTEST__SELECTOR]
description: Calculate purge volume matrix based on filament
             color and algorithm for estimating flushing volume
gcode: 
    {% set LOOP = params.LOOP|default(25)|int %}
    {% set SERVO = params.SERVO|default(1)|int %}
    {% set HOME = params.HOME|default(1)|int %}
    MMU_SOAKTEST_SELECTOR LOOP={LOOP} SERVO={SERVO} HOME={HOME}



################################################
# MMU_SOAKTEST_LOAD_SEQUENCE
################################################
[gcode_macro MMU__SOAKTEST__LOAD__SEQUENCE]
description: Calculate purge volume matrix based on filament
             color and algorithm for estimating flushing volume
gcode: 
    {% set LOOP = params.LOOP|default(10)|int %}
    {% set RANDOM = params.RANDOM|default(1)|int %}
    {% set FULL = params.FULL|default(1)|int %}
    MMU_SOAKTEST_SELECTOR LOOP={LOOP} RANDOM={RANDOM} FULL={FULL}
